body {
  margin: 0;
  font-family: 'Tektur', sans-serif;
  color: rgb(44, 41, 44);
  background-color: rgb(247, 239, 247);
}
#main-header {
  background-color: rgb(85, 88, 177);
  color: white;
  padding: 2rem 5%;
  text-align: center;
}
.btn {
  font: inherit;
  padding: 0.5rem 1.5rem;
  background-color: rgb(85, 88, 177);
  border: 1px rgb(85, 88, 177);
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
.btn-alt {
  background-color: transparent;
  color: rgb(85, 88, 177);
  border-color: transparent;
}
.btn:hover {
  background-color: rgb(51, 55, 159);
  border-color: rgb(51, 55, 159);
}
.btn-alt:hover {
  background-color: rgb(85, 88, 177);
  border-color: transparent;
  color: rgb(254, 246, 246);
}
